  </main>

  <!-- Optional Footer -->
  <footer class="footer">
    <p>&copy; 2025 MoodVerse. All rights reserved.</p>
  </footer>

  <!-- Optional JavaScript -->
  <script>
  function toggleMenu() {
    document.getElementById('nav-links').classList.toggle('show');
  }
</script>



</body>
</html>
